/*
Author: Kevin Klein
Author URI: https://kevvko.github.io/playground/index.html
*/


/*variables for uniform design*/
:root{
    --main-primary-color: #880e4f;
    --main-txt-color: white;
    --main-dark-color: #560027;
    --main-light-color: #bb467a;
}

/*general styling*/

*{
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0px;
    padding: 0px;
 }


body {
    font-family: 'Sriracha';
    background-color: #E0E0E0;
}

/*navigation-styling*/
.navigation {
    color: var(--main-txt-color);
    background-color: var(--main-dark-color);
    font-size: 20px;
}

.navbarEntry:hover{
    cursor: pointer;
    background-color: var(--main-light-color);
    transition: 0.2s;
}


.navigation a, .navbarEntry{
    display: inline-block;
    padding: 10px; 
    text-decoration: none;
    color: var(--main-txt-color);
}

/*mainboard-styling*/
.mainBoard{
    text-align: center;
    width: 80%;
    margin: auto;
}

/*scorebar-styling*/
.scorebar{
    background-color: var(--main-primary-color);
    color: var(--main-txt-color);
    width: 100%;
    height: 30px;
    padding: 0 10px;
} 

.scorebar span:nth-child(1){
    float: left;
}

.scorebar span:nth-child(2){
    float: right;
}

/*game-styling*/

canvas {
    display: inline;
    background-color: #BCBCBC;
}

/*footbar-styling*/
.footbar{
    font-size:0.9vw;
    position: absolute;
    bottom: 0;
}