/*
Author: Kevin Klein
Author URI: https://kevvko.github.io/playground/index.html
*/


/*general styling*/

*{
    box-sizing: border-box;
}

html, body, #app {

    margin: 0px;
    padding: 0px;
 }


body {
    font-family: 'Sriracha';
    font-size: 30px;
}

/*navigation-styling*/

.navigation {
    color: white;
    background-color: #000000;
}

.navbarEntry:hover{
    cursor: pointer;
    background-color: #2B2B2B;
}

.navigation a, .navbarEntry{
    display: inline-block;
    padding: 10px; 
}

/*mainboard-styling*/
.mainBoard{
    text-align: center;
    width: 100%;
}

/*game-styling*/

canvas {
    display: inline;
    background-color: #BCBCBC;
}